<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
Здесь был юзер.

<div sec:authorize="isAuthenticated()">
    Authenticated as <span th:text="${authenticatedUsername}"></span>
</div>

<div th:text="${greeting}">Hi</div>
</body>
</html>